<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details du contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button>
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="Appel()">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="sendSMS()">
        <ion-icon name="mail-open"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="share()">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="email()">
        <ion-icon name="at"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <form [formGroup]="newForm">
    <ion-item>
      <ion-avatar class="avatar">
        <img src="{{contact.image}}" />
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" formControlName="nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input type="tel" formControlName="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Adresse</ion-label>
      <ion-input type="text" formControlName="adresse"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Service</ion-label>
      <ion-input type="text" formControlName="service"></ion-input>
    </ion-item>
  </form>
  <div class="yourCssClass">
    <ion-button
      *ngIf="newForm.disabled"
      expand="block"
      fill="outline"
      (click)="Modifier()"
      >Modifier</ion-button
    >
    <ion-button
      *ngIf="!newForm.disabled"
      expand="block"
      fill="outline"
      (click)="Sauvegarder()"
      >Sauvegarder</ion-button
    >
    <ion-button expand="block" fill="outline" (click)="Supprimer()"
      >Supprimer</ion-button
    >
    <ion-button expand="block" fill="outline" (click)="Partager()"
      >Partager</ion-button
    >
  </div>
</ion-content>
