<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="inscriptionForm" (ngSubmit)="signUp()">
 
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" formControlName="nom"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tel</ion-label>
      <ion-input type="tel" formControlName="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Password</ion-label>
      <ion-input type="Password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline" type="submit">Envoyer</ion-button>
  </form>
</ion-content>
