<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recommandations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar [formControl]="searchString"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item
      *ngFor="let recommand of recommands"
      (click)="openContact(recommand)"
    >
      <ion-avatar> <img [src]="recommand.image" /> </ion-avatar>
      &nbsp;
      <ion-label> {{ recommand.prenom}} {{ recommand.nom}} </ion-label>
      <ion-label
        ><br /><br />
        {{ recommand.service}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
