<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des Contacts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-searchbar [formControl]="searchString"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let contact of contacts" (click)="openContact(contact)">
      <ion-avatar>
        <img [src]="contact.image" />
      </ion-avatar>
      &nbsp;

      <ion-label> {{ contact.prenom}} {{ contact.nom}} </ion-label>
      <ion-label
        ><br /><br />
        {{ contact.service}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ajouterContact()">
      <ion-icon name="add-circle-outline" end right></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
