<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Détails du contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar class="avatar">
      <img src="{{contact.image}}" />
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-label> Nom: {{contact.nom}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Prénom: {{contact.prenom}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Téléphone: {{contact.tel}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Email: {{contact.email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Ville: {{contact.city}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Adresse: {{contact.adresse}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Service: {{contact.service}}</ion-label>
  </ion-item>
  <div>
    <ion-button
      expand="block"
      fill="outline"
      (click)="deleteFromRecommandations()"
      >Supprimer des recommandations</ion-button
    >
  </div>
</ion-content>
