<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un contact</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="addForm">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" formControlName="nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tel</ion-label>
      <ion-input type="tel" formControlName="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Adresse</ion-label>
      <ion-input type="text" formControlName="adresse"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Service</ion-label>
      <ion-input type="text" formControlName="service"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Image</ion-label> 
      <ion-button>
        <input
          type="file" 
          class="upload"
          (change)="fileUpload($event.target)"
        />
      </ion-button>
    </ion-item>

    <ion-button
      [disabled]="addForm.invalid || !file"
      expand="block"
      fill="outline"
      (click)="addContact()"
      >Ajouter</ion-button
    >
  </form>
</ion-content>
