<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content class="ion-padding"> 
  <form [formGroup]="authForm" (ngSubmit)="signIn()"> 
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item> 
  
    <ion-item>
      <ion-label position="floating" color="primary"> Password</ion-label>
      <ion-input type="Password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline" type="ngSubmit">SignIn</ion-button>
  </form>
  <ion-button expand="block" fill="outline" (click)="signUp()">SignUp</ion-button> 
</ion-content> 