<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Deconnexion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="text-align: center">
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Voulez vous vraiment vous déconnecter ?
  </p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <ion-button expand="button" fill="outline" (click)="back()"
    >Retour</ion-button
  >
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <ion-button expand="button" fill="outline" (click)="signOut()"
    >Déconnexion</ion-button
  >
</ion-content>
