<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Profile</ion-title>
  </ion-toolbar>
  </ion-header>  
  <ion-content class="ion-padding">
    <form [formGroup]="prfForm" > 
      
      <ion-item> 
        <ion-label position="floating">Nom</ion-label>
        <ion-input  type="text" formControlName='nom' ></ion-input> 
      </ion-item>
      <ion-item> 
        <ion-label position="floating">Prenom</ion-label> 
        <ion-input  type="text" formControlName='prenom' ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label> 
        <ion-input type="email" formControlName='email' ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tel</ion-label>
        <ion-input  type="tel" formControlName='tel' ></ion-input> 
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" clearOnEdit="false" [type]="showPassword ? 'text' : 'password'"></ion-input>
        <ion-icon item-end [name]="passwordIcon" (click)="togglePassword()" ></ion-icon>
      </ion-item>
    
    </form> 
    <ion-button *ngIf="prfForm.disabled"  expand="block" fill="outline" (click)="enableInput()">Modifier</ion-button>
    <ion-button *ngIf="!prfForm.disabled" expand="block" fill="outline" (click)="Save()">Sauvegarder</ion-button>
  
  </ion-content> 